* {
  margin: 0;
  box-sizing: border-box;
}
body {
  background-color: #f5f5f7;
}
nav {
  display: flex;
  width: 100vw;
  display: flex;
  gap: 24px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
}
a {
  text-decoration: none;
  color: black;
}
.pay {
  display: flex;
  justify-content: center;
  padding: 20px 20px;
}
.hero-img img {
  width: 100%;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.store {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
}
.store-text {
  display: flex;
  gap: 20px;
  font-family: Inter;
  font-size: 44px;
  font-style: normal;
  font-weight: 700;
  line-height: 52.01px; /* 118.205% */
}
.store-text h3 {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.store-text p {
  color: #6e6e73;
}
.store-content {
  display: flex;
  gap: 15px;
}
.store-content img {
  width: 35px;
  height: 35px;
}
.store-cont {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.store-cont h6 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px;
}
.store-cont a {
  color: #06c;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: auto;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
  text-underline-position: from-font;
}
.store-image {
  display: flex;
  justify-content: space-between;
  padding: 0 140px;
  overflow: hidden;
}
.store-img {
  display: flex;
  width: 136px;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}
.store-img p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 142.857% */
}
.store-img img {
  height: 78px;
  width: 120px;
}
.apple {
  display: flex;
  flex-direction: column;
  padding: 0 140px;
}
.color-text {
  display: flex;
  padding: 60px 0 24px 0;
}
.color-text h6 {
  background: linear-gradient(90deg, #0090f7 0%, #ba62fc 50%, #f2416b 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.color-text p {
  color: #6e6e73;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 133.333% */
}
.apple-content {
  display: flex;
  gap: 20px;
  overflow: scroll;
  scrollbar-width: none;
}
.apple-cont {
  display: flex;
  flex-direction: column;
  min-width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  gap: 12px;
  border-radius: 20px;
}
.apple-cont h6 {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.apple-cont img {
  padding-bottom: 3px;
}
.apple-cont h4 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
}
.apple-cont p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 111.111% */
}
#pro {
  background-image: url(./ip16pro.svg);
}
#pro-1 {
  background-image: url(./intel-watch.svg);
}
#pro-2 {
  background-image: url(./intel-ipad.svg);
}
#pro-3 {
  background-image: url(./intel-mac.jpg);
}
.airpods-content {
  display: flex;
  padding: 0 140px;
  flex-direction: column;
}
.airpods-cont {
  display: flex;
  min-width: 400px;
  height: 500px;
  background-size: cover;
  background-position: center;
}
#rm {
  background-image: url(./airpod-one.svg);
}
#tab {
  background-image: url(./tab.svg);
}
.airpods-cont p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  letter-spacing: 0.196px;
  padding: 50px 30px;
}
.airpods-con {
  display: flex;
  gap: 16px;
  overflow: scroll;
  scrollbar-width: none;
}
.airpods-conte {
  display: flex;
  width: 313px;
  height: 500px;
  flex-direction: column;
  padding: 71px 28px 32px 28px;
  background-color: white;
}
.airpods-conte img {
  width: 230px;
  height: 230px;
}
.booronhii {
  display: flex;
  gap: 7px;
  padding: 25px 86px 21px 79px;
  justify-content: center;
}
.booronhii img {
  width: 12px;
  height: 12px;
}
.airpods-text {
  display: flex;
  flex-direction: column;
  width: 237px;
  height: 109px;
  gap: 50px;
}
.airpods-max {
  display: flex;
  justify-content: center;
}
.airpodstext-cont p {
  color: #b64400;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.airpodstext-cont h5 {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 20px; /* 111.111% */
}
.only {
  padding: 0 140px;
}
.only-container {
  display: flex;
  gap: 16px;
  overflow: scroll;
  scrollbar-width: none;
}
.pickup {
  width: 480px;
  height: 500px;
  background-image: url(./pickup.svg);
}
.pickup p {
  width: 330px;
  height: 96px;
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
  width: 400px;
  height: 130px;
  padding: 50px 30px;
}
.only-text {
  align-content: center;
  padding-left: 30px;
  width: 313px;
  height: 240px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 2px 4px 12px 0 rgba(0, 0, 0, 0.08);
}
.only-text p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px; /* 127.273% */
  height: 84px;
  width: 240px;
}
.only-cont {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.only-trade {
  min-width: 480px;
  height: 500px;
}
#only-t {
  background-image: url(./only-trade.svg);
}
#only-f {
  background-image: url(./only-find.jpg);
  background-size: cover;
  background-position: center;
}
.only-trade h6 {
  color: #6e6e73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.only-trade p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 25px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 128% */
}
.only-txt {
  width: 330px;
  height: 96px;
  padding: 51px 30px;
}
.music {
  padding: 0 140px;
}
.music-cont {
  min-width: 480px;
  height: 500px;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}
#music1 {
  background-image: url(./music1.svg);
}
#music2 {
  background-image: url(./music2.svg);
}
#music3 {
  background-image: url(./music3.svg);
}
#music4 {
  background-image: url(./music4.jpg);
}
.music-text {
  padding: 54px 30px;
}
.music-text h6 {
  color: #6e6e73;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: 16px; /* 133.333% */
}
.music-text p {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 26px;
  font-style: normal;
  font-weight: 700;
  line-height: 32px; /* 123.077% */
}
.music-text span {
  color: #1d1d1f;
  font-family: Inter;
  font-size: 17px;
  font-style: normal;
  font-weight: 400;
  line-height: 20px; /* 117.647% */
}
.special {
  padding: 0 140px;
}
#spe1 {
  background-image: url(./spe1.svg);
}
#spe2 {
  background-image: url(./spe2.svg);
}
#spe3 {
  background-image: url(./spe3.svg);
}
#spe4 {
  background-image: url(./spe4.svg);
}
#spe5 {
  background-image: url(./spe5.jpg);
}
#spe4 p {
  color: white;
}
footer {
  display: flex;
  flex-direction: column;
  padding: 100px 140px;
  gap: 20px;
}
.foot-cont {
  border: 1px solid black;
  border-radius: 999px;
  width: 140px;
  height: 40px;
  padding: 10px 12px;
}
.foot {
  display: flex;
  gap: 20px;
}
