nav {
  width: 100%;
  display: flex;
  gap: 24px;
  height: 44px;
  justify-content: center;
  align-items: center;
  background-color: rgba(245, 245, 247, 0.8);
}
#menu-icon {
  display: none;
}
.hero p {
  color: white;
}
a {
  text-decoration: none;
  color: black;
}
h4 {
  text-align: center;
  font-family: Inter;
  font-size: 3vh;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.donate {
  display: flex;
  justify-content: center;
  gap: 4px;
  font-size: 20px;
}
.hero {
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 100vw;
}
.hero-content {
  display: flex;
  width: 100vw;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
  padding-top: 5vh;
}
.hero-content1 {
  display: flex;
  width: 100vw;
  height: 50vh;
  flex-direction: column;
  align-items: center;
  color: white;
  background-size: cover;
  background-position: center;
  padding-top: 5vh;
}
.hero-content h1 {
  margin: 0px;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.hero-content1 h1 {
  margin: 0px;
  text-align: center;
  font-family: Inter;
  font-size: 60px;
  font-style: normal;
  font-weight: 600;
  line-height: 60px; /* 115.385% */
  letter-spacing: -0.28px;
}
.hero-content p {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
.hero-content1 p {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 32px; /* 133.333% */
}
#ip16-pro {
  background-image: url(./apple/ip16-pro.svg);
}
#ip16 {
  background-image: url(./apple/ip16.svg);
}
#gift {
  background-image: url(./apple/gift.svg);
}

.hero-cont {
  background-size: cover;
  background-position: center;
  width: 100vw;
  height: 50vh;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
.gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 4vh;
  gap: 5px;
}
#gift h1 {
  margin: 0px;
  font-size: 4vh;
}
#gift p {
  color: black;
}
.button {
  display: flex;
  gap: 16px;
  text-align: center;
  justify-content: center;
}

.button1 {
  width: 132px;
  height: 44px;
  background-color: #0071e3;
  border-radius: 999px;
  color: white;
  font-size: 15px;
}
.button2 {
  color: #2997ff;
  width: 68px;
  height: 44px;
  font-size: 15px;
  border: 1px solid #2997ff;
  border-radius: 999px;
  background-color: transparent;
}
h4 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
}
.button3 {
  width: 132px;
  height: 44px;
  background-color: white;
  border-radius: 999px;
  font-size: 15px;
}
.button4 {
  width: 68px;
  height: 44px;
  font-size: 15px;
  border: 1px solid white;
  border-radius: 999px;
  background-color: #0018ca;
  background-color: transparent;
  color: white;
}
.button5 {
  width: 132px;
  height: 44px;
  font-size: 20px;
  background-color: #0071e3;
  border-radius: 999px;
  color: white;
}
.hero-gift h4 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 24px;
}
.store {
  display: flex;
  gap: 12px;
  flex-direction: column;
}
.store h1 {
  margin: 0px;
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.store-1 {
  display: flex;
  gap: 12px;
}
.store-2 {
  display: flex;
  gap: 12px;
}

.iPad {
  background-image: url(./apple/Figure.svg);
  width: 50vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
}
.ipad-cont {
  display: flex;
  flex-direction: column;
  padding-top: 1.5vh;
}
.ipad-cont p {
  color: #1d1d1f;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}
.iPad img {
  width: 100%;
  height: 33px;
}
.iPad h1 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}
.ipad-p {
  padding-top: 20vh;
  text-align: center;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 128.571% */
  background: linear-gradient(
    90deg,
    #0090f7 0%,
    #ba62fc 33.33%,
    #f2416b 66.67%,
    #f55600 100%
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.Airpods {
  background-image: url(./apple/airpods.svg);
  width: 50vw;
  height: 40vh;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
}
.AirPods-cont {
  display: flex;
  padding-top: 23vh;
  flex-direction: column;
}
.AirPods-cont p {
  color: white;
  text-align: center;
  font-family: Inter;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px; /* 138.889% */
}

.Airpods h1 {
  color: #f5f5f7;
  text-align: center;
  font-family: Inter;
  font-size: 36px;
  font-style: normal;
  font-weight: 600;
  line-height: 44px; /* 122.222% */
}
.watch {
  background-image: url(./apple/watch.svg);
  background-size: cover;
  width: 50vw;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.apple-icon {
  width: 27px;
  height: 32px;
  align-items: center;
}
.watch h1 {
  color: black;
}
.watch-cont {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
h3 {
  color: #000;
  text-align: center;
  font-family: Inter;
  font-size: 15px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 2px;
  margin: 0;
}
.macbook {
  background-image: url(./apple/Macbook.svg);
  background-size: cover;
  width: 50vw;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
}

.store-3 {
  display: flex;
  gap: 12px;
}
.trade {
  background-image: url(./apple/trade.svg);
  background-size: cover;
  width: 50vw;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.trade h1 {
  color: black;
}
.trade-p {
  width: 322px;
  height: 50px;
}
.button7 {
  height: 40px;
  width: 167px;
  border-radius: 999px;
  background-color: #0071e3;
  color: white;
}
.card {
  background-image: url(./apple/card.svg);
  background-size: cover;
  width: 50vw;
  background-position: center;
  height: 40vh;
  display: flex;
  justify-content: center;
}
.card h1 {
  color: black;
}
.button6 {
  width: 115px;
  height: 40px;
  border-radius: 999px;
  color: #0071e3;
  border: 1px solid #0071e3;
}

.button9 {
  background-color: #0071e3;
  height: 40px;
  width: 115px;
  border-radius: 999px;
  color: white;
}
.button10 {
  border-radius: 999px;
  border: 1px solid #2997ff;
  color: #2997ff;
  width: 68px;
  height: 40px;
}
.scroll {
  overflow: scroll;
  display: flex;
  gap: 16px;
  flex-direction: column;
  scroll-behavior: smooth;
  scrollbar-width: none;
  padding-top: 20px;
}
.scroll-container {
  display: flex;
  gap: 12px;
}
.scroll-item {
  min-width: 1250px;
  height: 703px;
  background-position: center;
  background-size: cover;
}
#item1 {
  background-image: url(./apple/instigators.jpg);
}
#item2 {
  background-image: url(./apple/baseball.jpg);
}
#item3 {
  background-image: url(./apple/bad-monkey.jpg);
}
#item4 {
  background-image: url(./apple/napoleon.jpg);
}
#item5 {
  background-image: url(./apple/k-pop-idols.jpg);
}
#item6 {
  background-image: url(./apple/season-pass.jpg);
}
#item7 {
  background-image: url(./apple/pressumed-innocent.jpg);
}
#item8 {
  background-image: url(./apple/pachinko.jpg);
}
#item9 {
  background-image: url(./apple/lady-in-the-lake.jpg);
}
#item10 {
  background-image: url(./apple/morning-show.jpg);
}
.item1-cont {
  display: flex;
  gap: 15px;
  padding: 600px 0 0 40px;
  height: 60px;
  align-items: center;
}
.item1-text {
  display: flex;
  gap: 5px;
  color: white;
  height: 44px;
  align-items: center;
  font-size: 20px;
}
.item1-button {
  width: 140px;
  height: 40px;
  border-radius: 999px;
  font-size: 20px;
}
.item2-button {
  display: flex;
  width: 120px;
  height: 20px;
}
.item1-dot {
  display: block;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(197, 197, 197);
}
.item1-dot:hover {
  background-color: grey;
}
.dot {
  display: flex;
  justify-content: center;
  gap: 20px;
  padding-top: 20px;
}

.animation-cont {
  width: 417px;
  height: 236px;
  background-size: cover;
  color: white;
  display: flex;
  align-items: flex-end;
  padding-left: 15px;
  position: relative;
}
.animation-cont p {
  font-size: 20px;
}
.animation-cont button {
  position: absolute;
  opacity: 0;
  border: none;
  margin-top: 20px;
  padding: 7px 15px;
  border-radius: 999px;
  background-color: white;
  left: 40%;
  bottom: 45%;
}
.ursdag:hover .animation-content {
  filter: grayscale(100%);
}
.ursdag .animation-content:hover {
  filter: brightness(100%);
}
.animation-cont:hover button {
  opacity: 1;
}
.animation {
  overflow: hidden;
}
.ursdag {
  width: max-content;
  display: flex;
  gap: 12px;
  padding-top: 20px;
  animation-name: ursdag;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  animation-duration: 30s;
}
.animation:hover .ursdag {
  animation-play-state: paused;
}
@keyframes ursdag {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}
#anim1 {
  background-image: url(./apple/animation1.jpg);
}
#anim2 {
  background-image: url(./apple/animation2.jpg);
}
#anim3 {
  background-image: url(./apple/animation3.jpg);
}
#anim4 {
  background-image: url(./apple/animation4.jpg);
}
#anim5 {
  background-color: rgb(20, 40, 56);
  display: flex;
  align-items: center;
  gap: 10px;
}
#anim6 {
  background-color: rgb(64, 13, 14);
  display: flex;
  align-items: center;
  gap: 10px;
}
#anim7 {
  background-color: rgb(38, 38, 38);
  display: flex;
  align-items: center;
  gap: 10px;
}
#anim8 {
  background-image: url(./apple/animation8.jpg);
}
#anim9 {
  background-image: url(./apple/animation9.jpg);
}
#anim10 {
  background-color: #eae6e1;
  color: black;
  display: flex;
  align-items: center;
  gap: 10px;
}
.anim-img {
  border-radius: 20px;
  width: 198px;
  height: 198px;
}
.phone-airpods {
  background-image: url(./phone/phone-airpod4.svg);
  background-size: cover;
  background-position: center;
  padding-bottom: 2vh;
  width: 100%;
  height: 40vh;
}
.phone-watch {
  background-image: url(./phone/phone-watch.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
.phone-mac {
  background-image: url(./phone/phone-mac.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
.phone3 {
  display: flex;
  gap: 20px;
}
.phone-small {
  background-image: url(./phone/phone-small.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
.phone-carrier {
  background-image: url(./phone/phone-carrier.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
.phone-trade {
  background-image: url(./phone/phone-trade.svg);
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 40vh;
}
@media (max-width: 1920px) {
  .phone-airpods {
    display: none;
  }
  .phone-mac {
    display: none;
  }
  .phone3 {
    display: none;
  }
  .phone-watch {
    display: none;
  }
}
